.loadingModal {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loaderContainer {
    height: 50px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.loader {
    /* left: calc(50% - 17.5px);
    position: absolute;
    top: calc(50% - 20.125px) */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2);
}

.loaderBlook {
    animation: loaderBlook 3s linear infinite;
    // left: 7.5px;
    position: absolute;
    // top: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-user-select: none;
    user-select: none;
    object-fit: contain;
    width: 50px;
    height: 50px;

    &[data-motionless="true"] {
        animation: none;
    }

    @keyframes loaderBlook {
        0% {
            transform: translateY(0) rotate(0deg);
        }

        100% {
            transform: translateY(0) rotate(360deg);
        }
    }
}

.loaderMessage {
    margin-top: 80px;
    font-size: 25px;
    color: var(--accent-color);
}
