.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: -5px calc(5% - 12px);
    width: calc(90% - 24px);
    max-width: 1200px;

    @media only screen and (max-width:600px) {
        min-width: 320px;
        margin: auto;
        width: 95%
    }
}

.planText {
    display: flex;
    flex-direction: row;
    margin: 2px 0;
    font-size: 26px;

    @media only screen and (max-width:768px) {
        flex-direction: column;
    }

    &>div:nth-child(1) {
        font-family: "Titan One", sans-serif;
        margin-right: 5px;
        padding-bottom: 3px;
    }

    &>div:nth-child(2) {
        font-weight: 700;
    }
}

.upgradeButton {
    margin-top: 10px;

    @media only screen and (max-width:768px) {
        margin-top: 20px;
    }
}

.securityKeys {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 250px;
    max-width: 500px;
    overflow-y: auto;
}

.securityKey {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 7px;
    gap: 20px;
}

.securityKeyInfo {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: left;
}

.securityKeyName {
    font-weight: 700;
}

.securityKeyDate {
    opacity: 0.5;
    font-size: 12px;
}

.securityKeyActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.securityKeyAction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    padding: 5px;
    border-radius: 7px;
    transition: background-color 0.2s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.noKeys {
    font-style: italic;
    opacity: 0.5;
    margin: 5px;
}
