.flash {
    position: fixed;
    inset: 0;
    z-index: 9998;
    background-color: white;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    color: white;
    font-size: 2rem;
    text-align: center;
    user-select: none;
}

.video {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    opacity: 0;
    object-fit: cover;
    transition: opacity 1s linear;
    will-change: transform, opacity;
    transform: translateZ(0);
    pointer-events: none;
    user-select: none;
}
