.blook {
    display: flex;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    pointer-events: none;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    animation: gradient 4s infinite ease-in-out;
    mask-size: 100% 100%;
    z-index: 1;

    @keyframes gradient {
        0% {
            background-position: 0% 0%;
        }

        50% {
            background-position: 100% 100%;
        }

        100% {
            background-position: 0% 0%;
        }
    }
}

.shimmerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    mask-size: 100% 100%;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -200%;
        width: 30%;
        height: 100%;
        background: white;
        animation: shimmer 3s linear infinite;
        transform: skewX(-45deg);
        filter: blur(3px);

        @keyframes shimmer {
            0% {
                left: -200%;
            }

            33% {
                left: 200%;
            }

            100% {
                left: 200%;
            }
        }
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.customIndicatorContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
}

.customIndicator {
    position: absolute;
    bottom: -.5vh;
    left: -.5vh;
    width: 2.5vh;
    height: 2.5vh;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &>span {
        position: absolute;
        bottom: .3vh;
        font-size: 2vh;
        color: black;
        font-family: "Titan One", sans-serif;
    }
}