.panelContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: -5px calc(5% - 12px);
}

.packSeel {
    width: 200px;
    object-fit: cover;
    transform: skew(-20deg);
}
