.parentHolder {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    &>.section {
        // background-color: rgba(0, 0, 0, 0.125);
        border-radius: 7px;
        margin: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        &:nth-child(1) {
            background-color: rgba(0, 0, 0, 0.125);
            padding: 10px 15px 0 15px;
            grid-area: 1 / 1 / 2 / 2;
        }

        &:nth-child(2) {
            background-color: rgba(0, 0, 0, 0.125);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            grid-area: 1 / 2 / 2 / 6;
            height: 195px;

            @media screen and (max-width: 1375px) {
                display: none;
            }
        }

        &:nth-child(3) {
            grid-area: 2 / 1 / 6 / 2;
        }

        &:nth-child(4) {
            grid-area: 2 / 5 / 6 / 6;

            @media screen and (max-width: 1375px) {
                display: none;
            }
        }

        &:nth-child(5) {
            grid-area: 4 / 2 / 2 / 5;
        }

        &:nth-child(6) {
            grid-area: 4 / 2 / 6 / 5;
        }
    }
}

@media (max-width: 1375px) {
    .parentHolder {
        display: flex;
        flex-direction: column;

        &>.section {
            height: fit-content;
        }
    }
}

.userTopProfile {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 475px) {
        flex-direction: column;
        justify-content: center;
    }
}

.userBannerBlook {
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 475px) {
        flex-direction: column;
        align-items: center;
        margin-left: unset;
    }

    &>img {
        height: 110px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.bannerLevel {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-left: 10px;

    @media screen and (max-width: 475px) {
        margin-left: unset;
    }
}

.levelBarContainer {
    height: 20px;
    position: relative;
    margin-top: 20px;
}

.levelBar {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.15);

    &>div {
        // background: linear-gradient(#fcd843, #fcd843 50%, #feb31a 50%, #feb31a);
        // light blue instead
        background: linear-gradient(#00bfff, #00bfff 50%, #00a8ff 50%, #00a8ff);
        height: 100%;
        width: 100%;
        transform-origin: left center;
    }
}

.levelStarContainer {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -10px;
    top: calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;

    &>img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &>div {
        position: absolute;
        top: 48%;
        left: 54%;
        transform: translate(-50%, -50%);
        color: var(--accent-color);
        font-family: "Titan One", sans-serif;
        -webkit-text-stroke: 1.5px #000;
        font-size: 20px;
    }
}

.userBanner {
    transform: translateY(5px);
    display: flex;
    position: relative;

    &>img {
        width: 300px;
        height: fit-content;
    }

    &>p {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -60%);

        &:nth-child(2) {
            font-size: 1.5rem;
        }

        &:nth-child(3) {
            top: 45%;
            font-size: 0.9rem;
        }
    }
}

.userBadges {
    padding: 10px;
    margin: 5px 10px 5px 10px;
    display: flex;
    justify-content: left;
    flex-flow: wrap;
    gap: 10px;

    @media screen and (max-width: 475px) {
        justify-content: space-evenly;
    }

    &>div {
        width: auto;
        height: 30px;
        padding: 7.5px;
        box-shadow: inset 0 -5px rgba(0, 0, 0, 0.2);
        background-color: var(--primary-color);
        border-radius: 7px;
        display: flex;
        align-items: center;

        &>img {
            width: auto;
            height: 100%;
            margin-bottom: 5px;
        }
    }
}

.topRightButton {
    width: 180px;
    height: 90%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    font-weight: 700;
    text-decoration: none;
    color: var(--accent-color);
    background-color: var(--primary-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
        transform: scale(0.95);
    }

    &:active {
        transform: scale(0.9);
    }

    &>i {
        font-size: 4.25rem;
    }

    &>div,
    a {
        margin-top: 20px;
        font-size: 1.4rem;
        text-align: center;
    }
}

.smallButtonContainer {
    @media not (max-width: 1375px) {
        display: none;
    }

    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

    @media (max-width: 475px) {
        margin-top: 20px;
        justify-content: center;
    }
}

.smallButton {
    flex: 1;
    min-width: fit-content;
}

.containerHeader {
    position: absolute;
    top: -18px;
    left: -7px;
    height: 35px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    padding: 4px 4px 8px;
    border-radius: 7px;
    z-index: 1;
}

.containerHeaderInside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: var(--primary-color);
    padding: 0 10px 5px;
    border-radius: 7px;
    font-family: "Titan One", sans-serif;
    color: var(--accent-color);
    font-size: 25px;
}

.statsContainer {
    border-radius: 5px;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    padding: 40px 15px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: var(--accent-color);
}

.statsContainerHolder {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.statContainer {
    height: 65px;
    width: calc(50% - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    gap: 10px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background-color: var(--secondary-color);
    line-height: 1;
    padding: 5px 20px 15px 20px;

    @media screen and (max-width: 1375px) {
        width: 100%;
    }

    &>img {
        /* position: absolute;
        width: 40px;
        left: 3px;
        margin-top: 25px; */
        // transform: rotate(-15deg);
    }
}

.statHeader {
    font-family: "Titan One", sans-serif;
    font-size: 1rem;

    // I DONT LIKE THIS BECAUSE OF LACK OF SUPPORT
    // -webkit-text-stroke: .5px #000;

    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    &>img {
        position: relative;
        top: 4px;
        right: 5px;
        width: 20px;
    }
}

.statDivider {
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    opacity: 0.1;
    border-radius: 7px;
}

.statValue {
    font-size: 1rem;
    font-weight: 700;
}

.friendsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
}

.friendsTop {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>p {
        font-size: 2.1rem;
        margin: 10px 0;
        font-family: "Titan One", sans-serif;
    }

    &>div {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        &>div {
            font-family: "Nunito", sans-serif;
            font-size: 1rem;

            &:last-child {
                min-width: unset;
                font-size: 1.25rem;
                width: 40px;
            }
        }
    }
}

.holdFriends {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.125);
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}

.auctionContainer {
    padding: 10px;

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.auctionStats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: fit-content;

    &>div {
        height: 65px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        text-align: center;
        gap: 10px;
        box-shadow: inset 0 -7px rgba(0, 0, 0, 0.2);
        border-radius: 7px;
        background-color: var(--secondary-color);
        line-height: 1;
        padding: 5px 20px 15px 20px;

        &>p {
            font-family: "Titan One", sans-serif;
            font-size: 1rem;
        }

        &>span {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.1rem;
            color: rgba(255, 255, 255, 0.7);
        }
    }
}

.auctionStatMod {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.65rem;
    padding: 3px 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    transition: .2s ease;

    &:hover {
        cursor: pointer;
        scale: 1.05;
    }

    &.profit {
        background-color: rgba(0, 255, 0, 0.3);
    }

    &.loss {
        background-color: rgba(255, 0, 0, 0.3);
    }
}

.yourLiveAuctions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &>.auction {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.125);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &>img {
            width: auto;
            height: 100px;
        }

        &>div {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &>p {
                margin: 0;
                font-size: 1.2rem;
            }

            &>span {
                font-size: 1rem;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}
