.canvasContainer {
    height: 100%;
    width: calc(100% - 60px);
    margin-left: 60px;
    outline: none;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.canvas {
    width: 100%;
    height: 100%;
    outline: none;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 60px;
    background-color: var(--primary-color);
    padding: 10px 0;
    box-sizing: border-box;
    position: absolute;
}

// .bottomContainer {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 60px;
//     width: 100%;
//     background-color: var(--primary-color);
//     padding: 0 10px;
//     box-sizing: border-box;
// }

// .left {
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
//     gap: 10px;
//     width: 185px;
// }

// .middle {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 10px;
//     width: calc(100% - 370px);
// }

.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 70%;
    overflow-y: auto;
    scrollbar-width: none;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    cursor: pointer;

    &>img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    &:hover {
        transform: scale(0.95);
    }

    &:active {
        transform: scale(0.9);
    }
}

.right {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 185px;
}

.tools {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    height: 30%;
}

.toolButton {
    width: 20px;
    height: 20px;
    padding: 10px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 7px;
    transition: transform 0.2s;
    font-size: 20px;

    &:hover {
        transform: scale(0.95);
    }

    &:active {
        transform: scale(0.9);
    }
}
