.container {
    position: fixed;
    width: 100%;
    bottom: 1%;
    right: 0.5%;
    text-align: right;
    font-size: 2vh;
    pointer-events: none;
    user-select: none;
    z-index: 999;
    opacity: 0.5;
    font-weight: 700;
}
