.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    transition: height 0.2s;

    @media (max-width: 768px) {
        height: 80px;
    }
}

.scrolled {
    height: 80px;
    background-color: var(--primary-color);
    border-bottom: 6px solid var(--tertiary-color);
}

.headerInside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    max-width: 1000px;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;

    @media (max-width: 768px) {
        padding: 0 10px;
    }
}

.headerTitle {
    padding: 5px 20px;
    font-family: "Titan One", sans-serif;
    font-size: 52px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        padding: 5px 10px;
    }
}

.headerButtons {
    display: flex;
    margin-top: 6px;
    align-items: center;
    transition: display 400ms;
    gap: 20px;

    @media (max-width: 768px) {
        display: none;
    }
}

.headerButton {
    font-size: 24px;
}

.heroSection {
    height: 100vh;
}

.heroContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    gap: 10px;

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.heroImageM {
    display: none;
    width: 250px;
    height: 250px;
    aspect-ratio: auto 300 / 300;
    margin: 10px auto 5px;
    max-height: 30vh;
    width: auto;
    object-fit: contain;
    user-select: none;

    @media (orientation: portrait) and (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.heroImage {
    max-width: 400px;
    width: 30%;
    background: white;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    @media (max-width: 768px) {
        display: none;
    }
}

.heroCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 530px;
    margin: 0 30px;

    @media (max-width: 768px) {
        width: 100%;
        margin: 0 auto;

    }
}

.heroText {
    font-family: "Nunito", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;

    @media (max-width: 768px) {
        font-size: 28px;
        max-width: 400px;
        margin: 0 auto 20px;
    }
}

.heroButtons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        max-width: 350px;
        width: 100%;
    }
}

.heroButton {
    margin: 10px 0;
    font-size: 30px;
    width: 100%;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.heroPronounceButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .2s;
    user-select: none;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.4;
    }
}

.heroArrowContainer {
    position: relative;
    top: -60px;
    text-align: center;
    width: 100%;
    background: none;
    border: none;
    transition: opacity 0.2s;

    &>i {
        font-size: 30px;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.heroArrowContainerScrolled {
    cursor: unset;
    pointer-events: none;
    opacity: 0;
}

.mainContent {
    scroll-margin-top: 80px;
}

.normalSection {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    @media (max-width: 1050px) {
        padding: 0 20px;
    }

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}

.sectionImage {
    max-width: 400px;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: white;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 50%;

    @media (max-width: 768px) {
        max-width: 350px;
        margin: 0 auto;
    }
}

.colHeader {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    margin: 0;
}

.colText {
    font-size: 20px;
    font-weight: 400;
}

.reverse {
    flex-direction: row-reverse;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}

.breakSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 600px;
    margin: 100px auto;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;

    @media (max-width: 768px) {
        &>p {
            margin: 40px 20px;
        }
    }
}

.breakHeader {
    font-size: 48px;
    line-height: 1.2;
    font-family: "Titan One", sans-serif;

    @media (max-width: 768px) {
        max-width: 500px;
    }
}

.breakText {
    font-size: 24px;
    max-width: 800px;
    text-align: center;
    margin: 40px auto;
}

.breakButton {
    width: 200px;
    font-size: 24px;
}

.howSection {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;

    @media (max-width: 768px) {
        flex-direction: column;
        margin: 40px auto 100px;
    }
}

.howHeader {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.howContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

    @media screen and (max-width: 1000px) {
        gap: 15px;
        margin: 0 15px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.howCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.howImageContainerContainer {
    width: 80%;
    height: 200px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.howImageContainer {
    width: 100%;
    height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.howText {
    font-size: 22px;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    min-height: 500px;
    margin-top: 100px;
}

.waves {
    width: 100%;
    min-width: 1920px;
    position: relative;
}

.waveFront {
    animation: vWave 2s -0.75s infinite alternate;
}

.waveFrontPath {
    animation: hWave 3.75s linear -3s infinite;
}

.waveMidFront {
    animation: vWave 2s -0.5s infinite alternate;
}

.waveMidFrontPath {
    animation: hWave 3.5s linear -2s infinite;
}

.waveMidBack {
    animation: vWave 2s -0.25s infinite alternate;
}

.waveMidBackPath {
    animation: hWave 3.25s linear -1s infinite;
}

.waveBack {
    animation: vWave 2s infinite alternate;
}

.waveBackPath {
    animation: hWave 3s linear infinite;
}

@keyframes hWave {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(105px);
    }
}

@keyframes vWave {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.footerWrapper {
    background: #050912;
    width: 100%;
    height: 100%;
    // min-height: 300px;
}

.footerContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7.5%;
    z-index: 2;
    position: relative;
    background: #050912;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
}

.footerMenuList {
    display: flex;
    flex-direction: column;

    &>ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;

        &>li {
            list-style: none;
            font-size: 18px;

            &>a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.footerMenuTitle {
    font-weight: 700;
    font-size: 22px;
}

.copyrightText {
    margin: 0;
    padding: 45px 0;
    font-size: 14px;
    text-align: center;
    position: relative;
    z-index: 2;
}
